@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyCompany</h1>
    <h3>Офіційний сайт компанії</h3>
    <hr />

    <div style="padding: 100px">
        <h4>Найкраща компанія року 2021 по версії DOU!</h4>
        <h4>Компанія  найбільшим приростом прибутку за даними Forbes.</h4>
    </div>

    <hr />
    <p>Детальна інформація <a href="https://docs.microsoft.com/aspnet/core">будуйте Web додатки з ASP.NET Core</a>.</p>
</div>
